body{
  background-image: url(images/download.jpg);
}

 h2 {
  color: rgb(150,180,250);
  font-size: 25px;
  font-family: Helvetica;
 }

  p {
    font-size: 18px;
    color: white;
    font-family: Helvetica;
  }

   a {
    color: white;
    font-size: 25px;
    font-family: Helvetica;
   }

   h3{
    color: white;
    font-size: 20px;
    font-family: Mali;
   }

   h1{
    color: white;
    font-size: 30px;
    font-family: Helvetica;
   }


    h4{
      color: rgb(0,30,100);
      font-size: 25px;
      font-family: Helvetica;
   }

   li{
    color: black;
    font-size: 18px;
    font-family: Helvetica;
   }

   .container{
      margin: 50px auto;
   }

   @media (max-width: 3000px) {
      .container {
        width: 1500px;

      }
   }
   @media (max-width: 1500px) {
    .container {
      width: 960px;
    }
   }
   @media (max-width: 960px) {
    .container {
      width: 700px;
    }
   }
   @media (max-width: 720px) {
    .container {
      width: 500px;
    }
   }
   @media (max-width: 540px) {
    .container {
      width: 300px;
    }
      }

  

   .SériesNetflix {
      background: rgba(0,0,20,0.7);
    padding: 20px;
    box-shadow:0px 10px 30px;
    border-radius: 10px;
    margin:60px auto;
     }
   

   .Foot{
    background: rgba(0,0,20,0.7);
    padding: 20px;
    box-shadow:0px 10px 30px;
    border-radius: 10px;
    margin:60px auto;
   }

.Voyages{
    background: rgba(0,0,20,0.7);
    padding: 20px;
    box-shadow:0px 10px 30px;
    border-radius: 10px;
    margin:60px auto;
   }
 .Espace{
    background: rgba(0,0,20,0.7);
    padding: 20px;
    box-shadow:0px 10px 30px;
    border-radius: 10px;
    margin:60px auto;
   }

.reso{
    background: rgba(255,255,255,0.5);
    box-shadow:0px 10px 30px;
    border-radius: 30px;
    margin:60px auto;
    padding: 20px;
   }

.header{
    background: rgba(0,0,20,0.7);
    box-shadow:0px 10px 30px;
    border-radius: 5px;
    margin:100px auto;
    padding: 20px;
   }
  
 .btn{
    background-color: rgba(255,0,0,0.9);
    color: black;
    padding: 20px 20px;
    text-align: center;
    box-shadow: 0px 10px 30px;
    margin: 30px 660px;
    border-radius: 5px;
  }

.img-circle{
  border-radius: 50%;
}